.container{
	border: 2px solid black;
	height: 400px;

	display: flex;
	
	flex-direction: row;
	flex-wrap: wrap; 
	
	/* flex-flow: row wrap; */

	/* justify-content: space-around;
	justify-content: space-evenly;
	justify-content: space-between; */

	justify-content: center;

	align-items: center;

	gap: 5px;

	align-content: center;
}

.box{
	width: 90px;
	border: 1px solid red;
	/* flex-grow: 1; */
	flex-shrink: 4;
	flex-basis: 90px;
}

#b1{
	order: 1;
	align-self: stretch;
}

